* {
 margin: 0;
 padding: 0;
}
.main {
 background-color: #00FF90FF;
 position: absolute;
 padding: 10px;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 border-radius: 5px;
 box-shadow: 5px 4px 5px #A5A5A5FF;
}
h2 {
 text-align: center;
 font-family: sans-serif;
}
table {
 width: 100%;
}
form input {
 font-size: 22px;
 margin: 5px;
 padding: 5px;
 height: 66px;
 text-align: right;
}
table td input {
 width : 100%;
 background-color : #FF6A00EE;
 padding : 5px;
 font-size : 22px;
 cursor : pointer;
 border : 2px solid #000;
}
table td input:hover {   
 border : 2px solid #DAA67BFF;
}