html,
body {
  background-color: #b19cd9;
  text-align:center;
  font-family: 'Bookman', Helvetica, sans-serif;
  min-width: 320px;
}

header {
  font-size: 50px;
  margin: 20px
}

#form-outer {
  background-color: #D8BFD8;
  margin: 0 auto;
  border-radius: 2px;
  width: 90%;
  max-width: 900px;
  padding: 10px;
}

.labels {
  display: inline-block;
  text-align: left;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 50%;
  vertical-align: middle;
}

.input-field {
  height: 25px;
  width: 200px;
  padding: 3px;
  margin: 10px;
}

input[type="checkbox"],
input[type="radio"]{
  float: left;
  margin-right: 5px;
}

.radio, .checkbox {
  position: relative;
  left: -40px;
  margin-left: 15px;
  display: block;
  padding-bottom: 15px;
}

#submit {
  background-color: #563c5c;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  height: 30px;
  width: 90px;
  margin: 30px;
  border: 1px solid;
}

.dropdown {
  height: 30px;
  width: 200px;
  padding:3px;
  margin: 10px;
  margin-top: 20px;  
}

#comments {
  height: 70px;
  width: 275px;
  padding:5px;
  margin: 10px;
  margin-top: 15px; 
}

#activities {
  display: inline-block;
  text-align: left;
 }