/* $Base */
body {
  font-family: sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  text-align: center;
  color: #F9E5FF;
  background-color: #FFFF33;
}

.wrapper {
  lex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin: 4rem;
}
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.loaders {
  height: 300px;
  line-height: 300px;
  background-color: #0066CC;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 15px 30px 0px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
  border-radius: 0.5rem;
}

.loaders-bg-2 {
  background-color: #FC4532;
}

.loaders-bg-3 {
  background-color: #FF29C8;
}

.loaders-bg-4 {
  background-color: #0000FF;
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

/*	$Loader Quadrant
	========================================================================== */
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #F9E5FF;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/*	$Loader Double circle
	========================================================================== */
.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #F9E5FF;
  border-bottom-color: #F9E5FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.loader-double:before, .loader-double:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #F9E5FF;
  border-bottom-color: #F9E5FF;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-animation: spinreverse 2s linear infinite;
  animation: spinreverse 2s linear infinite;
}
.loader-double:before {
  top: 13px;
  left: 13px;
  bottom: 13px;
  right: 13px;
  -webkit-animation: spinreverse 3s linear infinite;
  animation: spinreverse 3s linear infinite;
}

/*	$Loader Multiple circle
	========================================================================== */
.loader-circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.loader-circles:before, .loader-circles:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #F9E5FF;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-animation: spinreverse 5s linear infinite;
  animation: spinreverse 5s linear infinite;
}
.loader-circles:before {
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  -webkit-animation: spinreverse 10s linear infinite;
  animation: spinreverse 10s linear infinite;
}

/*	$Loader Bars
	========================================================================== */
.loader-bars:before,
.loader-bars:after,
.loader-bars span {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 30px;
  background-color: #F9E5FF;
  -webkit-animation: grow 1.5s linear infinite;
  animation: grow 1.5s linear infinite;
}

.loader-bars:after {
  left: 15px;
  -webkit-animation: grow 1.5s linear -0.5s infinite;
  animation: grow 1.5s linear -0.5s infinite;
}

.loader-bars span {
  left: 30px;
  -webkit-animation: grow 1.5s linear -1s infinite;
  animation: grow 1.5s linear -1s infinite;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes grow {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}