@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');

/* for diamond.js */
.diamond-body
{
  margin: 0;
  padding: 0;
  background: #000;
}
.diamond-grid
{
  width: 70%;
  margin: 150px auto 0;
}
.item
{
  width: 220px;
  height:220px;
  background: #fff;
  transition: 0.5s;
}


/* for flip.js */
.flipbody
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
section
{
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  width: 1100px;
  }
section .flipcard
{
  position: relative;
  width: 320px;
  height: 320px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
section .flipcard .flipbox
{
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 80%;
  transform-style: preserve-3d;
  transition: 1s ease;
}
section .flipcard:hover .flipbox
{
  transform: rotateY(180deg);
}

section .flipcard .flipbox .flipimgBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section .flipcard .flipbox .flipimgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .flipcard .flipbox .flipcontentBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  background: #333;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
section .flipcard .flipbox .flipcontentBx div
{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg,#fe0061,#ffeb3b);
  transform: translateZ(100px);
}
section .flipcard .flipbox .flipcontentBx div h2
{
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}
section .flipcard .flipbox .flipcontentBx div p
{
  color: #fff;
  font-size: 16px;
}

/* for App.js */
*
{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}
header .logo
{
  max-width: 180px;
}
header .toggle
{
  max-width: 60px;
  cursor: pointer;
}
header .logo img,
header .toggle img
{
  max-width: 100%;
}
.banner
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  background: url(./assets/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .content
{
  max-width: 550px;
}
.banner .content h2
{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  color: #fff;
}
.banner .content h2 span
{
  font-weight: 800;
}
.banner .content p
{
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  color: #fff;
  margin: 15px 0 35px;
}
.play
{
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.play img
{
  margin-right: 10px;
  max-width: 50px;
}
.sci
{
  position: absolute;
  top: 50%;
  display: flex ;
  transform: translateY(-50%);
  right: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li
{
  list-style: none;
}
.sci li a
{
  text-decoration: none;
}
.sci li a img
{
  filter: invert(1);
  transform: scale(0.6);
}
.slide
{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 250px / 2);
  width: 250px;
  height: 150px;
  background: url(./assets/joker.png);
  background-size: cover;
  cursor: pointer;
  animation: animate 25s linear infinite;
}
@keyframes animate
{
  0%,100%
  {
    background-position: top ;
  }
  45%,55%
  {
    background-position:bottom;
  }
}
.trailer
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.trailer.active
{
  visibility: visible;
  opacity: 1;
}

.trailer video
{
  max-width: 900px;
  outline: none;
}
.trailer .close
{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
@media (max-width: 991px)
{
  header
  {
    padding: 20px 50px;
  }
  header
  {
    padding: 20px 50px;
  }
  header .logo
  {
    max-width: 80px;
  }
  header .toggle
  {
    max-width: 40px;
  }
  .banner
  {
    padding: 100px 50px;
  }  
  .banner .content h2
  {
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.05em;
  } 
  .banner .content p
  {
    font-size: 1em;
  } 
  .slide
  {
    position: relative;
    bottom: initial;
    left: 0;
    width: 250px;
    height: 125px;
    margin: 20px 0;
  }
  .sci
  {
    position: absolute;
    top: initial;
    right: initial;
    margin-top:40px ;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .sci li
  {
    list-style: none;
    margin: 0 5px;
  }
  .trailer video
  {
    max-width: 90%;
    outline:none; 
  }
}
